
  <div class='container'>
  <div class='row'>
  <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">

<h2>商品詳細</h2>

  <%= image_tag @item.image, size: "200x200" %>
  <h4>商品名</h4>
  <p><%= @item.name %></p>
  <h4>商品説明</h4>
  <p><%= @item.introduction %></p>
  <h4>ジャンル</h4>
  <p><%= @item.genre.name %></p>
  <h4>税抜価格</h4>
  <p><%= @item.price %></p>
  <h4>販売ステータス</h4>
   <% if @item.is_active == true %>
   <p>販売中</p>
   <% elsif @item.is_active == false %>
   <p>販売停止中</p>
   <% end %>


  <%= link_to "編集する", edit_admin_item_path(@item.id) %>