
<h2>注文履歴詳細</h2>

<table class= "table">
  <thead>
      <th>購入者</th>
      <th>注文日</th>
      <th>配送先</th>
      <th>支払い方法</th>
      <th>注文ステータス</th>
  </thead>
  <tbody>
    　<th><%= @order.customer.last_name + @order.customer.first_name %></th>
    　<th><%= @order.created_at %></th>
    　<th><%= @order.address %></th>
    　<th><%= @order.payment %></th>
    　<th><%= form_with model: @order, url: admin_order_path, method: :patch, local: true do |f| %>
            <%= f.select :order_status, Order.order_statuses.keys, class: "order_status" %>
            <%= f.submit "更新" , class: "btn btn-outline-success" %>
            <% end %></th>
　 </tbody>
　</table>
　<table>
　 <thead>
　  <th>商品名</th>
　  <th>単価（税込）</th>
　  <th>数量</th>
　  <th>小計</th>
　 </thead>
　 <tbody>
　  <% @total = 0 %>
　  <% @order_details.each do |order_detail| %>
　  <tr>
　   <td><%= order_detail.item.name %></td>
　   <td><%= order_detail.item.price %></td>
　   <td><%= order_detail.amount %></td>
　   <td><%= order_detail.item.price * order_detail.amount %></td>
　  </tr>
    <% @total = @total + order_detail.item.price * order_detail.amount %>
　  <% end %>
　 </tbody>

　</table>

 <ul class="list-group list-group-horizontal">
  <li class="list-group-item">商品合計</li>
  <li class="list-group-item"><%= @total %>円</li>
 </ul>
 <ul class="list-group list-group-horizontal">
  <li class="list-group-item">送料</li>
  <li class="list-group-item">800円</li>
 </ul><ul class="list-group list-group-horizontal">
  <li class="list-group-item">請求金額合計</li>
  <li class="list-group-item"><%= @total + 800 %>円</li>
 </ul>
</div>
</div>

