<h1>注文履歴詳細</h1>

<table>
  <tr>
    <th>購入者</th>
    <th>購入日時</th>
    <th>配送先</th>
    <th>注文ステータス</th>
  </tr>
  <th><%= order.customer.last_name%><%= order.customer.first_name %></th>
  <th><%= order.created_at %></th>
  <th><%= order. %></th>
  <th><%= order.status %></th>

</table>

